.acm-main {
  font-family: 'Myriad Pro Regular' !important;
  font-weight: normal !important;
  text-align: center;
}
.acm-subtitle {
  font-family: 'Myriad Pro Semibold Italic' !important;
  font-weight: normal !important;
  text-transform: none !important;
}
